body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('wwtbam.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
}
.main-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
#prize{
    color: #fff;
    background-color: rgb(4, 4, 65);
    padding: 10px 48px;
    border-radius: 15px;
}
#prize .unlost{
    color: yellow;
    font-size: 18px;
}
#prize p{
    font-size: 18px;
}
#prize p span{
    margin-right: 28px;
}

.activePrizeColor{
    color: white;
    background-color: red;
}
.container {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 30px 50px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#question-container {
    margin: 20px 0;
    font-size: 23px;
}

#options-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}

#options-container button{
    background-color: rgb(4, 4, 65);
    border: 1px solid rgb(4, 4, 65);
    color: #fff;
    padding: 8px 18px;
    border-radius: 19px; 
    font-size: 18px;
}

#lifelines-container{
    background-color: rgb(4, 4, 65);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
}

#lifelines-container > button{
    padding: 5px 10px;
    background-color: #fff;
    color: rgb(4, 4, 65);
    cursor: pointer;
    border-radius: 8px;
    margin: 10px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
#timer {
    text-align: center;
    margin: 25px 0;
}

#timer span{
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: 1px solid #777;
    border-radius: 50%;
    font-size: 28px;
}

#timer-countdown {
    color: red;
}
#result{
    font-size: 18px;
}
#controls-container{
    padding: 20px 0;
    text-align: center;
}
#controls-container button{
    padding: 5px 10px;
    background-color: #fff;
    color: rgb(4, 4, 65);
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
}

.money-active{
    background-color: pink;
}

.GameOver-Container{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    overflow: hidden;
}
.gameover{
    background-color: red;
    height: 50%;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.gameover h1{
    animation: 5s slidein;
}
.gameover a{
    text-decoration: none;
    margin-top: 10px;
    color: blue;
    font-size: 20px;
    background-color: antiquewhite;
    padding: 5px 10px;
}
.gameover a:hover{
    background-color: blue;
    color: antiquewhite;
}

/* Tablets (portrait) */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    .container {
        width: 50%;
        padding: 15px;
        left: 30%;
    }
    #options-container {
        grid-template-columns: repeat(1, 1fr);
        /* gap: 10; */
    }
    #prize {
        padding: 10px 40px;
        margin-left: 400px;
    }
    #question-container {
        font-size: 20px;
    }
    #options-container button {
        font-size: 16px;
        padding: 8px 16px;
    }
}

/* Mobile devices */
@media (max-width: 480px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .container {
        width: 50%;
        padding: 8px;
       right: 30%; 
       margin-top: 20%;
       
    }
    #options-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        
    }
    #prize {
        padding: 6px 20px;
        margin-right: 30%;
        width: 40%;
    }
    #prize p span{
        margin-right: 20px;
    }
    #question-container {
        font-size: 18px;
    }
    #options-container button {
        font-size: 14px;
        padding: 6px 14px;
    }
    #lifelines-container {
        margin-top: -55%;
        margin-left: -20%;
    }
    #lifelines-container > button {
        margin: 5px;
    }
    #timer span {
        font-size: 24px;
    }
    #result {
        font-size: 16px;
    }
    #controls-container button {
        font-size: 16px;
    }
    .gameover {
        width: 50%;
    }
    .gameover h1 {
        font-size: 24px;
    }
    .gameover a {
        font-size: 18px;
    }
}
